.notfound__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.notfound__code {
    font-size: 6rem;
    font-weight: bold;
}

.notfound__title {
    font-size: 1.5rem;
    color: #666;
}

.notfound__actions {
    margin-top: 10px;
}

.notfound__btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.notfound__btn:hover {
    opacity: 0.8;
}