/* .quote-container {
    display: flex;
    margin: 100px;
    padding: 50px;
    width: 100%;
    border-radius: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    backdrop-filter: blur(10px);
} */
 .quote-container {
    display: flex;
    width: 70%;
    
    margin: 10vh auto;              /* responsive vertical spacing */
    padding: clamp(20px, 5vw, 80px);

    border-radius: 100px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 2vw, 40px);

    backdrop-filter: blur(10px);
}

/* .intro-word {
    display: inline-block;
    min-width: 220px;
    text-align: left;
} */

.intro-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
    width: 100;
}

.intro-line {
    opacity: 0.7;
}

.intro-word {
    font-weight: 600;
    min-width: 20ch;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

@media (max-width: 700px) {
    .quote-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
    }
}