.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
  overflow: hidden;
}

.svg-container {
  width: 100%;
  height: auto;
}