.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.svg-container {
  overflow: visible;
  align-items: center;
  justify-content: center;
}

.svg-path {
  animation: dash 3s linear infinite;
  margin: auto;
}