.navbar-container{
    height:70px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}

.navbar-left{
    display: flex;
    align-items: center;
    color: var(--white);
}

.navbar-right{
    display: flex;
    align-items: center;
    color: var(--white);
}