.sidebar-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:300px;
    padding: 10px 40px;
    z-index: 3;
    /* background-color: var(--black); */
    justify-content: space-between;
    color: var(--white);
    box-sizing: border-box;
    /* border: 5px solid var(--white); */
    border-radius: 50px 0 0 50px;
    backdrop-filter: blur(10px);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar-container.open {
    transform: translateX(0);
}

.sidebar-header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-close{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-heading{
    font-family: "Sekuya", system-ui;
    color: rgba(255, 2, 2, 0.647);
}

.sidebar-title{
    font-family: "Parisienne", cursive;
    font-size: 30px;    
}