.sidebar-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:300px;
    padding: 10px;
    z-index: 3;
    background-color: var(--black);
    justify-content: space-between;
    color: var(--white);
    box-sizing: border-box;
    border: 5px solid var(--white);
    border-radius: 20px;;
}

.sidebar-header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}