* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #000000;
    --text: #ffffff;
    --accent: rgb(255, 0, 0);
    --accent-hover: rgb(200, 0, 0);
    --font-main: 'JetBrains Mono', monospace;
    --font-accent: 'Parisienne', cursive;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-main);
    line-height: 1.6;
}

button,
a {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

input {
    background: none;
    border: none;
    outline: none;
}

.app{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}