* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #000000;
    --text: #ffffff;
    --accent: red;
    --font-main: 'JetBrains Mono', monospace;
    --font-accent: 'Parisienne', cursive;
}

body {
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

button,
a {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

input {
    background: none;
    border: none;
    outline: none;
}